[submodule "Arduino/libraries/ethercard"]
	path = Arduino/libraries/ethercard
	url = git://github.com/jcw/ethercard.git
[submodule "Server/libraries/bootstrap"]
	path = Server/libraries/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "Arduino/arscons"]
	path = Arduino/arscons
	url = https://code.google.com/r/davylandman-arscons/
[submodule "Arduino/libraries/AESLib"]
	path = Arduino/libraries/AESLib
	url = https://github.com/DavyLandman/AESLib.git
