!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Temperature stats!
    section#wrapper!= body
    footer
      p Thanks for coming by
  
