!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .topbar
      .fill
        .container
          a(href='#').brand ArdMostat
          ul.nav
            li 
              a Temperature
            li
              a Schedule

    .container
      .content
        .pageheader
          h1=title
        .row
          .span10!= body
          .span4
            p stuff?
      footer
        p cheers
  
