p	
	| On this page you can view the temperature history 
	| of the past day, week, month, or year
form
	fieldset
		.clearfix
			label Date range 
			.input
				.inline-inputs
					input(type="date",value="29 dec 2011",
					name="startDate").small
					input(type="date",value="30 dec 2011",
					name="stopDate").small 


a(href="#", id="updateTemperatureInfo") Update the chart
#noDataError.alert-message.warning(style='display:none')
	a(href="#").close x
	p Error message

#tempGraph
